<!DOCTYPE html>
<html lang = "en-US">
<head>
    <Title>Encryption Fields</Title>
    <meta charset = "UTF-8">
</head>
<body>
    <h1>Enigma Encryption</h1>
    <form action = "/EncryptionResult" method = "post">
    
        <p><select> </select>
        </p>
        Setting:<input type = "number" name = "setting" required>
        <p>
            Plaintext:<input type = "text" name = "plaintext" required>
        </p>
        <button type = "submit">Encrypt</button>

    </form>





</body>
</html>